html {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 60px;
  /*font-family: "Segoe UI", "Lucida Grande", Helvetica, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", Arial, sans-serif;*/
  font-family: source-han-serif-tc, serif;
  font-size:14px;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    font-family: source-han-serif-tc, serif;
}
